.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post button:hover {
    background: none !important;
}

.post button {
    outline: unset;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background: transparent;
}