.post {
    margin: 8px;
    border: 1px solid;
    border-radius: 16px;
    padding: 16px;
    margin: 16px 0;
    min-width: 640px;
}

.icons {
    text-align: right;
}

.post button:hover {
    background: none !important;
}

.post button {
    outline: unset;
    border: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background: transparent;
}