@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none
}

button {
    outline: unset;
    border: none;
    font-family: "Poppins", sans-serif;
}



main {
    padding: 10px;
    min-height: calc(100vh - 100px);
}

h1 {
    text-align: center;
}

.count {
    text-align: center;
}

.count button {
    padding: 4px 20px;
    font-size: 16px;
    background-color: #393939;
    color: white;
    border-radius: 9999px;
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

.count button:hover {
    background-color: #656161;
}

footer {
    height: 50px;
    background-color: #393939;
    display: flex;
    align-items: center;
    justify-content: center
}

footer span {
    vertical-align: middle;
    font-weight: 400;
    font-size: 18px;
    color: white
}